.form-group
  label.sr-only(for='first_name') First Name
  input.form-control#first_name(type='text', name='first_name', placeholder='First Name')
.form-group
  label.sr-only(for='last_name') Last Name
  input.form-control#last_name(type='text', name='last_name', placeholder='Last Name')
.form-group
  label.sr-only(for='email') Email
  input.form-control#email(type='email', name='email', placeholder='youremail@example.com')
.form-group
  label.sr-only(for='description') Description
  input.form-control#detail(type='text', name='detail', placeholder='Description')
button#submit(type='submit').btn.btn-default Add User
