head
  meta(charset='utf-8')
  title Marionette Boilerplate
  meta(name='description', content='')
  meta(name='author', content='')
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width", initial-scale="1")

  script(type="text/javascript", src="//localhost:35729/livereload.js")
  script(type="text/javascript", data-main="main", src="libs/requirejs/require.js")
  link(rel="stylesheet", type="text/css", href="assets/css/styles.css")


  block scripts
    script
      require(['application', 'app'], function(App) { App.start(); });
